.svg-css3-dims {
	width: 256px;
	height: 361px;
}

.svg-html5-dims {
	width: 256px;
	height: 361px;
}

.svg-javascript-dims {
	width: 256px;
	height: 256px;
}

.svg-nodejs-dims {
	width: 256px;
	height: 289px;
}

.svg-phoenix-dims {
	width: 256px;
	height: 175px;
}

.svg-rails-dims {
	width: 256px;
	height: 330px;
}

